body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

#heading {
    text-align: center;
    margin: 0;
    padding: 5 0 0 0;
    background-color: burlywood;
}
.profile-image{
    width: 100px;
    height: 100px;
    float: left;
    clear: left;
    border-radius: 50%;
    margin: 10px;
}
.profile{
    background-color: aqua;
    min-height: 120px;
    margin: 0px;
    padding: 0px;
}
footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color:darkcyan;
}
footer a {
    text-decoration: none;
}