body{
    margin: 0;
    padding: 0;
    /* background-color: #ffffff; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

header{
    text-align: center;
    height: fit-content;
    display: flex;
}

#logo{
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    clear: left;
}

#logo-image{
    height: 250px;
    width: auto;
    float: left;
}

#nav-bar{
    width: 80%;
    height: fit-content;
    text-align: left;
    position: absolute;
    left: 225px;
    top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#nav-bar p{
    font-size: 3em;
    font-weight: 900;
}

@media (max-width: 1200px) {
    #nav-bar p{
        display: none;
    }
}

@media (max-width: 700px) {
    #nav-bar ul{
        display: none;
    }
}

#nav-bar ul{
    font-size: 3em;
    font-weight: 900;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

#nav-bar ul li{
    float: right;
}

#nav-bar ul li a{
    font-size: 0.6em;
    font-weight: 700;
    padding-bottom: 55px;
    padding-left: 50px;
    text-decoration: none;
    color:#000000;
    text-transform: uppercase;
    transition: color 250ms;
    float: right;
}

#nav-bar ul li a:hover {
    color: gray;
}

#forms-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contact-box{
    width: 500px;
    height: 450px;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 2px 2px);
}

h1{
    text-align: center;
}

form{
    margin: 30px;
}

.input-field{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.button{
    width: 100%;
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #09394A;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: color 400ms;
}

.button:hover{
    background-color: rgb(66, 94, 126);
}

#map-box{
    width: 500px;
    height: 450px;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 2px 2px);
}

#map-box iframe{
    width: 400px;
    height: 320px;
    border: none;
    padding: 10px 50px 30px 50px;
    top: 0%;
    left: 0%;
}