body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

/* Logo */

header{
    text-align: center;
    height: fit-content;
    display: flex;
}

#logo{
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    clear: left;
}

#logo-image{
    height: 250px;
    width: auto;
    float: left;
}

#nav-bar{
    width: 80%;
    height: fit-content;
    text-align: left;
    position: absolute;
    left: 225px;
    top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#nav-bar p{
    font-size: 3em;
    font-weight: 900;
}

@media (max-width: 1200px) {
    #nav-bar p{
        display: none;
    }
}

@media (max-width: 700px) {
    #nav-bar ul{
        display: none;
    }
}

#nav-bar ul{
    font-size: 3em;
    font-weight: 900;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

#nav-bar ul li{
    float: right;
}

#nav-bar ul li a{
    font-size: 0.6em;
    font-weight: 700;
    padding-bottom: 55px;
    padding-left: 50px;
    text-decoration: none;
    color:#000000;
    text-transform: uppercase;
    transition: color 250ms;
    float: right;
}

#nav-bar ul li a:hover {
    color: gray;
}

#sections{
    width: 100%;
    background-color: gray;
    padding: 5px 2%;
    filter: drop-shadow(0px 2px 2px);
    float: left;
}

#sections table tr th{
    transition: color 250ms;
}

#sections table tr th:hover{
    color: #ffffff;
    cursor: pointer;
}

/* Gallery elements */
#vertical-gallery{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#horizontal-gallery{
    margin: 0;
    padding: 0;
    display: flex;
}

.gallery{
    filter: drop-shadow(0px 2px 2px);
}

.gallery1 {
    margin: 5px;
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.gallery1 img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.desc1 {
    padding: 15px;
    text-align: left;
    flex-grow: 1;
    background-color: #f4f4f4;
}

.desc1 a{
    text-decoration: none;
}

.desc1 button{
    background-color: #ffffff;
    border-width: 1px;
    border-radius: 3px;
}

.gallery2 {
    margin: 5px;
    float: left;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.gallery2 img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.desc2 {
    padding: 15px;
    text-align: left;
    flex-grow: 1;
    background-color: #f4f4f4;
}

.desc2 a{
    text-decoration: none;
}

.desc2 button{
    background-color: #ffffff;
    border-width: 1px;
    border-radius: 3px;
}

.readmore{
    display: inline;
}

/* Footer Elements */
footer{
    width: 100%;
    margin: 50 0 0 0;
    padding: 50 0 50 0;
    background-color: #000000;
}

#socials{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#socials a i{
    font-size: 3em;
    margin: 0.5em 1em 0.5em 1em;
    color: #ffffff;
    transition: color 200ms;
}

#image-authors{
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 50 0 0 0;
    font-weight: 400;
}

#image-authors a{
    color: #ffffff;
}

#socials a i:hover{
    color: gray;
}

@media (max-width: 1000px) {
    .desc2{
        padding: 10px;
        font-size: 0.75em;
    }
}

@media (max-width: 500px) {
    .desc2{
        padding: 5px;
        font-size: 0.5em;
    }
}